body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #141414;
    color: #eee;
}

div {
    margin: 0;
}

a {
    text-decoration: none;
}

#page-top {
    height: 1em;
    padding: 0.5em;
    font-size: 90%;
    background-color:  rgb(23, 21, 22);
    color: #eee;
}

#page-top a {
    color: #eee;
}

#page-top a:hover {
    color: #888;
}

#session-info {
    position: absolute;
    right: 0.5em;
    display: inline-block;
}

#nav {
    display: inline-block;
}

#nav #navlinks {
    margin: 0;
    padding-inline-start: 0;
}

#navlinks li {
    display: inline-block;
    margin: 0 0.5em;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#0f0f0f;
    text-align: center;
    color: #eee;
}

#footer p {
    margin: 0;
}

#flashedmessages {
    padding: 0.2em 0;
    border-radius: 2em  2em 0 0;
    z-index: 100;
    position: fixed;
    bottom: 0;
    margin: auto;
    width: 100%;
}

#flashedmessages ul {
    margin: 0;
}

#main-content {
    padding: 1em;
}

#contentheader {
    background-color: #252525;
    color: rgb(211, 211, 211);

    padding: 1em;
    margin: 0;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}

#contentheader h1,h2 {
    margin: 0.2em 0;
}

a {
    color: #1c275d;
}

dd {
    font-size: smaller;
    color: #888;
}

table {
    border-collapse: collapse;
}

table tr:last-child {
    border-bottom: 1px solid #eee;
}

table th {
    border-bottom: 1px solid #eee;
}

#login-form {
    margin: auto;
    width: fit-content;
}

#login-form input {
    display: block;
    margin: 0.5em 0;
}

.alignleft {
    text-align: left;
}

.aligncenter {
    text-align: center;
}

.alignright {
    text-align: right;
}

.fillwidth {
    width: 100%;
}

.highlightrows tr.highlightable:hover {
    background-color: #eee;
}

.button {
    padding: 0.3em 0.5em;
    border-radius: 0.3em;
    border: 0.1em solid transparent;
    margin: 0.2em;
    box-shadow: 0 1px inset rgb(255 255 255 / 50%);
    text-shadow: 0 -1pt black;
    display: inline-block;
}

.button:hover,.button:active,.button:focus {
    border-color: black;
}

.button:active {
    box-shadow: 0 0.3em 0.1em inset rgb(0 0 0 / 20%);
}
.redfire {
    background-color: #f45b69;
    color:#fff;
}
.bluebg {
    background-color: #5e72da;
    color: #fff;
}

.bluebg a {
    color: #fff;
}

.redbg {
    background-color: #c64f5f;
    color: #fff;
}

.redbg a {
    color: #fff;
}

.yellowbg {
    background-color: #e7cf90;
    color: #000;
}

.yellowbg a {
    color: #000;
}

.questiondiv {
    margin: 10px;
    padding: 5px;
    border-radius: 6px;
    border-left: #ddd 5px solid;
    border: #ddd 1px solid;
    background-color: #589473;
    color: #000
}

.questiontext {
    margin-top: 0;
}

.questionscore {
    font-size: smaller;
    color: #777;
}

.answerdiv {
    margin: 20px;
    padding: 5px;
    border-radius: 6px;
    border: #ddd 1px solid;
    border-left: #ddd 5px solid;
    background-color: #252525;
}

.answertext {
    margin-top: 0;
}

.commentdiv1 {
    margin: 40px;
    padding: 15px;
    border-radius: 6px;
    border: #ddd 1px solid;
    border-left: #ddd 5px solid;
    background-color:rgba(31, 255, 1, 0.6);
    color: #000
}
.commentdiv2 {
    margin: 40px;
    padding: 15px;
    border-radius: 6px;
    border: #ddd 1px solid;
    border-left: #ddd 5px solid;
    background-color:rgba(209, 206, 206, 0.6);
    color: #000
}
.commentdiv3 {
    margin: 40px;
    padding: 15px;
    border-radius: 6px;
    border: #ddd 1px solid;
    border-left: #ddd 5px solid;
    background-color:rgb(255, 172, 172,0.6);
    color: #000
}

.commenttext {
    margin-top: 0;
}

.datetext {
    font-size: x-small;
    font-style: italic;
}
.answerquestiondiv {
    padding: 1em;
    margin: 0;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}
.votetext {
    margin-top: 0;
}


.reportdiv{
    margin: 10px;
    padding: 5px;
    border-radius: 6px;
    border-left: #ddd 5px solid;
    border: #ddd 1px solid;
    background-color: #aa6868;
    color: #000
}

.reporttext {
    margin-top: 0;
}

.reportlink {
    margin-top: 0;
    text-decoration-line: underline;
}