<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" href="/static/style.css" />
        
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} - DMS 22/23</title>
    </head>
    <body>
        <div id="page-content">{% block pagecontent %}{% endblock %}</div>

    </body>
    <footer id = "footer">
        {% block footer %}{% endblock %}
            <p>Authors: Oscar Valverde,Claudia Landeira,Victor Pascual,Adolfo Viñe,Mario Garcia</p>
            <p>Universidad de Burgos - Dise&ntilde;o y Mantenimiento del Software, year 2022-2023.</p>
    </footer>
</html>
