{% extends "base.html" %}
{% from "macros/flashedmessages.html" import flashedmessages %}
{% from "macros/buttons.html" import submit_button %}
{% block title %}Log in{% endblock %}
{% block pagecontent %}
    {{ flashedmessages() }}
        
    <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet"><link rel="stylesheet" href="/static/login.css">
    <div id="login-form">
        
        <form action="login" method="post" class="login">
            <h1 class="aligncenter">Log in</h1>
            <input type="text" name="user" placeholder="Username" autofocus />
            <input type="password" name="pass" placeholder="Password" />
            <p class="aligncenter">{{ submit_button('bluebg', 'Log in') }}</p>
        </form>
    </div>
{% endblock %}

